.tile {
    padding-bottom: 12.5%; /* Altura do quadrado (ajuste conforme necessário) */
    display: inline-block;
    box-sizing: border-box;
    background-color: transparent;
    animation: emptyAnimation, emergeAnimation;
    animation-fill-mode: forwards, backwards;
    animation-duration: 1000ms, 1000ms;
    animation-delay: 0s, calc(var(--delay) * 2);
}

.available-tile {
    background-color: aquamarine;
}

.moving-tile {
    background-color: green;
}

.dark-tile {
    background-color: #8b4513; /* Cor para o quadrado escuro */
}

.light-tile {
    background-color: #deb887; /* Cor para o quadrado claro */
}

@keyframes emptyAnimation {
    from {
        transform: translate(-1em, -1em);
        background-color: transparent;
    }
}

@keyframes emergeAnimation {
    0% {
        transform: translate(1em, 1em);
        background-color: transparent;
    }
    50% {
        transform: translate(-1em, -1em);
    }
    90% {
        background: radial-gradient(circle, lightskyblue 50%, deepskyblue 100%);
    }
    100% {
        background-color: transparent;
    }
}
