.chessboard {
    border: 2px solid black;
    width: 90vmin; /* Altura do tabuleiro (ajuste conforme necessário) */
    height: 90vmin; /* Altura do tabuleiro (ajuste conforme necessário) */
    display: grid;
    transform: rotate(30deg) skewX(-41deg);
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
